$accent: #8d2609;

#about {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 0;
    height: 450px;
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 110px;
    @media (max-width: 600px) {
        display: none;
    }
}

#about p {
    max-width: 45ch;
    padding: 0 1em;
    @media (max-width: 900px) {
        line-height: 1.4;
        font-size: 0.9em;
        padding-bottom: 1em;
    }
    @media (max-width: 600px) {
        line-height: 1.4;
        font-size: 0.75em;
        padding-bottom: 1em;
    }
}

#about h2 {
    font-size: 2.75em;
    padding: 0.75em 0.5em;
    color: $accent;
    @media (max-width: 900px) {
        font-size: 2.25em;
        padding: 0.5em 0.5em;
    }
    @media (max-width: 600px) {
        line-height: 1.4;
        font-size: 1.75em;
        padding: 0.5em 0.25em;
    }
}

#about h3 {
    font-size: 1.5em;
    padding: 0.75em 0.5em;
    @media (max-width: 900px) {
        font-size: 1.25em;
        line-height: 1.25;
        padding: 0.5em 0.5em;
    }
    @media (max-width: 600px) {
        font-size: 1em;
        line-height: 1.25;
        padding: 0.75em 0.25em;
    }
}
